body {
  background-color: #eceff1;
  margin: 20px;
}


.front {
  background-image: url("./images/tile.png")
}

.front.item {
	/* background-color: red; */
  height: 125px;
  width: 125px;
}

img {
  height: 125px;
  width: 125px;
  padding: 10px;
}
.item{
  display: inline-block;
  width: 125px;
  height: 125px;
  margin-left: 0.5em;
}
.container {
  width: 600px;
  height: auto;
}

.section {
  width: 600px;
  height: 600px;
  background-color: white;
  margin: auto;
}

#Start {
  margin: 20px;
}

.page-footer {
  background-color: #00bfa5;
  height: auto;
}

#game {
  width: 600px;
  height: 580px;
}
