body {
  background-color: #bdbdbd;
  margin: 20px;
}

.front {
  background-image: url("./images/tile.png")
}

.front.item {
  height: 125px;
  width: 125px;
}

img {
  height: 125px;
  width: 125px;
  padding: 10px;
}

.item {
  display: inline-block;
  width: 125px;
  height: 125px;
  margin-left: 0.5em;
}

.container {
  width: 600px;
  height: auto;
}

.section {
  width: 600px;
  height: 600px;
  border: solid 1px #00bfa5;
  background-color: white;
  margin: 0 auto;
}

#Start {
  margin: 20px;
}

.page-footer {
  background-color: #00bfa5;
  height: auto;
}

.game {
  width: 600px;
  height: 600px;
  padding: 20px;
}
